body{
  text-align:center;
  background:#f2f2f2;
  font-family:Arial;
}

.game{
  width:600px;
  height:200px;
  border:3px solid black;
  margin:auto;
  background:white;
  position:relative;
  overflow:hidden;
}

#dino{
  width:40px;
  height:40px;
  background:green;
  position:absolute;
  bottom:0;
  left:50px;
}

#cactus{
  width:30px;
  height:50px;
  background:red;
  position:absolute;
  bottom:0;
  left:600px;
  animation:cactusMove 2s infinite linear;
}

@keyframes cactusMove{
  0%{ left:600px;}
  100%{ left:-40px;}
}

.jump{
  animation:jump 0.5s linear;
}

@keyframes jump{
  0%{ bottom:0;}
  50%{ bottom:80px;}
  100%{ bottom:0;}
}
